<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Friends | Debt</title>
  <!--<link href="style.css" rel="stylesheet" type="text/css" > -->
  <script src="index.js"></script> 
  <style>
.fa {
  padding: 20px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}
.fa-google {
  background: #dd4b39;
  color: white;
}
.fa-instagram {
  background: #E1306C;
  color: white;
}
  </style>
</head>

<body>
<a href="mailto:uiuchotspots@gmail.com" class="fa fa-google"></a>
<a href="https://www.instagram.com/uiuchotspots" class="fa fa-instagram"></a>
  
</body>

</html>