<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Home | Debt</title>
  <!--<link href="style.css" rel="stylesheet" type="text/css" >-->
</head>

<body>
  <h1>Account Info:</h1>

  <p id="userinfo">User: <%= data.user %> </p>
  <p id="debtinfo" >Debt: <%= data.totalDebt %></p>
  <p id="zscore" >ZScore: <%= data.zscore %></p>
  <p id="frienddebt" >Friend Debt: <%= data.friendDebt[0] %></p>
  <form method="post" action="/friends">
    <input type="submit" value="Friends">
  </form>
  
  <!--<script type="text/javascript" src="encryption.js"> //  /home/runner/Borrow/index.js  (dont worry about this comment just leave it for now)
  document.getElementById("userinfo").innerHTML = test;//getUser();
//document.write("test");
    
    //document.getElementById("debtinfo").innerHTML = "text";//initUser.totalDebt;
   // document.getElementById("zscore").innerHTML = initUser.zscore;
   // document.getElementById("frienddebt").innerHTML = initUser.friendDebt;
    //what this will do is access the paragraphs from the html for the javascript
    /* function getUser() {
      return initUser.user;
    } */
  </script>-->
    <!--<script src="index.js"> document.getElementById("userinfo").innerHTML = "initUser.user";</script> -->
  
</body>
</html>