<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Sign Up | Debt</title>
  <!--<link href="style.css" rel="stylesheet" type="text/css" > -->
  <script src="index.js"></script> 
</head>

<body>
  <form method="post" action="/welcome">
      <label for="nusr"> Create Username: </label> <br><br>
      <input type="text" id="nusr" name="nusr"> <br><br><br><br>
      <label for="npwd"> Create Password: </label> <br><br>
      <input type="text" id ="npwd" name="npwd"> <br><br><br><br>
      <label for="nemail"> Enter Email: </label> <br><br>
      <input type="text" id = "nemail" name="nemail"><br><br><br><br><br>
      <input type="submit" value="Create Account">
  </form>
  
  
</body>

</html>